#app{
    display:grid;
    grid-template-areas: 
    "aside main main "
    "footer footer footer";
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1fr auto;
    background: #202124;
    font-family: 'spotify-regular', -apple-system, system-ui, sans-serif;
}

.scroll_none{
    scrollbar-width:none;
}

#main{
  display: grid;
  grid-template-areas:
  "header header aside"
  "main main aside";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .1fr 1fr ;
}

td,th{
    padding: 9px;
    border-bottom: 1px solid #6b7280;
}
@font-face {
    font-family: 'spotify';
    src: url('./fonts/AvenirLTStd-Black.otf') format("woff2");
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-medium';
    src: url('./fonts/AvenirLTStd-Medium.otf') format("woff2");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-regular';
    src: url('./fonts/Gilroy-Regular.ttf') format("truetype");
    font-weight:700;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-heavy';
    src: url('./fonts/AvenirLTStd-Heavy.otf') format("woff2");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-book';
    src: url('./fonts/AvenirLTStd-Book.otf') format("woff2");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-light';
    src: url('./fonts/AvenirLTStd-Light.otf') format("woff2");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'spotify-Gregular';
    src: url('./fonts/Gilroy-Regular.ttf') format("woff2");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: auto;
  margin-top: 20vh;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

/* .loader {
    margin: auto;
    margin-top: 20vh;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height:1.2em;
    overflow: hidden;
  }
  .loader:before {
    content:"Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  } */
